.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  background-color: var(--color-primary);
}


@media (min-width: 580px) {
  .header {
    padding: 4rem;
    justify-content: flex-end;
  }
}